<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FitnessTestActivityMapper">

    <resultMap type="FitnessTestActivity" id="FitnessTestActivityResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFitnessTestActivityVo">
        select id, name, start_time, end_time, create_time, status, remark from fitness_test_activity
    </sql>

    <select id="selectFitnessTestActivityList" parameterType="FitnessTestActivity" resultMap="FitnessTestActivityResult">
        <include refid="selectFitnessTestActivityVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectFitnessTestActivityById" parameterType="Long" resultMap="FitnessTestActivityResult">
        <include refid="selectFitnessTestActivityVo"/>
        where id = #{id}
    </select>
    <select id="selectTestActivityDict" resultType="com.ruoyi.common.core.domain.Dict">
        SELECT
            id   value,
            name label
        FROM
            fitness_test_activity
    </select>

    <insert id="insertFitnessTestActivity" parameterType="FitnessTestActivity">
        insert into fitness_test_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFitnessTestActivity" parameterType="FitnessTestActivity">
        update fitness_test_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFitnessTestActivityById" parameterType="Long">
        delete from fitness_test_activity where id = #{id}
    </delete>

    <delete id="deleteFitnessTestActivityByIds" parameterType="String">
        delete from fitness_test_activity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
