<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SportRegistrationsMapper">

    <resultMap type="SportRegistrations" id="SportRegistrationsResult">
        <result property="id"    column="id"    />
        <result property="gameId"    column="game_id"    />
        <result property="userId"    column="user_id"    />
        <result property="fieldId"    column="field_id"    />
        <result property="status"    column="status"    />
        <result property="score"    column="score"    />
        <result property="points"    column="points"    />
        <result property="comment"    column="comment"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
<!--        TODO: field name did not show-->
        <association property="game"    javaType="SportGames">
            <id     property="id" column="game_id"/>
            <result property="gameName" column="game_name"/>
            <result property="gender" column="gender"/>
            <result property="status" column="game_status"/>
            <result property="startTime" column="game_start_time"/>
            <result property="endTime" column="game_end_time"/>
            <result property="itemId" column="item_id"/>
        </association>
        <association property="user"    javaType="SysUser">
            <id     property="userId"       column="user_id"      />
            <result property="deptId"       column="dept_id"      />
            <result property="userName"     column="user_name"    />
            <result property="nickName"     column="nick_name"    />
            <result property="email"        column="email"        />
            <result property="phonenumber"  column="phonenumber"  />
            <result property="sex"          column="sex"          />
            <result property="avatar"       column="avatar"       />
            <result property="password"     column="password"     />
            <result property="status"       column="status"       />
            <result property="remark"       column="remark"       />
        </association>
        <association property="field"   javaType="SportFields">
            <id     property="id"    column="field_id"    />
            <result property="name"    column="field_name"    />
            <result property="parentId"    column="field_parent_id"    />
        </association>
    </resultMap>

    <sql id="selectSportRegistrationsVo">
        select
           sr.id            id,

           sr.status        status,
           sr.score         score,
           sr.points        points,
           sr.comment       comment,
           sr.create_time   create_time,
           sr.update_time   update_time,
           sr.game_id       game_id,
               sg.game_name     game_name,
               sg.gender        gender,
               sg.status        game_status,
               sg.start_time    game_start_time,
               sg.end_time      game_end_time,
               sg.item_id       item_id,

           sr.user_id       user_id,
               su.dept_id       dept_id,
               su.user_name     user_name,
               su.nick_name     nick_name,
               su.email         email,
               su.phonenumber   phonenumber,
               su.sex           sex,
               su.avatar        avatar,
               su.status        status,
               su.remark        remark,

           sr.field_id      field_id,
               sf.name          field_name,
               sf.parent_id     field_parent_id

        from
            sport_registrations sr
                LEFT JOIN sport_games sg    on sr.game_id = sg.id
                LEFT JOIN sys_user su       on sr.user_id = su.user_id
                LEFT JOIN (
                    SELECT
                        b.id                            `id`,
                        CONCAT(a.`name`,'--',b.`name`)  `name`,
                        a.id                            `parent_id`
                    FROM
                        sport_fields a,
                        sport_fields b
                    WHERE
                        a.id=b.parent_id
                )         sf                on sr.field_id = sf.id

    </sql>

    <select id="selectSportRegistrationsList" parameterType="SportRegistrations" resultMap="SportRegistrationsResult">
        <include refid="selectSportRegistrationsVo"/>
        <where>
            <if test="gameId != null "> and game_id = #{gameId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fieldId != null "> and field_id = #{fieldId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="points != null "> and points = #{points}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
        </where>
    </select>

    <select id="selectSportRegistrationsById" parameterType="Long" resultMap="SportRegistrationsResult">
        <include refid="selectSportRegistrationsVo"/>
        where id = #{id}
    </select>

    <insert id="insertSportRegistrations" parameterType="SportRegistrations">
        insert into sport_registrations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gameId != null">game_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="fieldId != null">field_id,</if>
            <if test="status != null">status,</if>
            <if test="score != null">score,</if>
            <if test="points != null">points,</if>
            <if test="comment != null">comment,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="fieldId != null">#{fieldId},</if>
            <if test="status != null">#{status},</if>
            <if test="score != null">#{score},</if>
            <if test="points != null">#{points},</if>
            <if test="comment != null">#{comment},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSportRegistrations" parameterType="SportRegistrations">
        update sport_registrations
        <trim prefix="SET" suffixOverrides=",">
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fieldId != null">field_id = #{fieldId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="score != null">score = #{score},</if>
            <if test="points != null">points = #{points},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSportRegistrationsById" parameterType="Long">
        delete from sport_registrations where id = #{id}
    </delete>

    <delete id="deleteSportRegistrationsByIds" parameterType="String">
        delete from sport_registrations where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
